---
const today = new Date();
---

<footer>
	<div class="top-floor">
	</div>
	<div class="sub-floor">
		&copy; {today.getFullYear()} sirlilpanda. All rights reserved.
	</div>
</footer>
<style>

	.sub-floor {
		padding: 5em 1em 2em 1em;
		text-align: center;
		height: 100%;
		background: var(--footer-colour);
		box-shadow: 0 50vh 0 50vh var(--footer-colour);
	}
	
	
	.top-floor {
		background: linear-gradient(
			hsl(from var(--top-footer-colour)  h s l),
			var(--top-footer-colour)
		);
		width: 100%;
		height: 4em;
	}
</style>
